<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Sözleşmem Emaar</title>
      <!-- site icon -->
      
      <link rel="apple-touch-icon" sizes="180x180"  href="{{ url_for('static', filename='images/logo/banner-img.png') }}">
	   <link rel="icon" type="image/png" sizes="32x32"  href="{{ url_for('static', filename='images/logo/banner-img.png') }}">
	   <link rel="icon" type="image/png" sizes="16x16"  href="{{ url_for('static', filename='images/logo/banner-img.png') }}">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/color_2.css') }}">
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

      <!-- select bootstrap -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-select.css') }}">
      <!-- scrollbar css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/perfect-scrollbar.css') }}">
      <!-- custom css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
      <!-- calendar file css -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
      <style>
         #flash-messages {
             position: fixed;
             top: 20px;
             left: 20px;
               z-index: 9999;
         }
     </style>
   </head>
   <body class="inner_page login">
      <div class="full_container">
         <div class="container">
            <div class="center verticle_center full_height">
               <div class="login_section">
                  <div class="logo_login">
                     <div class="center">
                        
                        <img width="30%" src="{{ url_for('static', filename='images/logo/banner-img.png') }}" alt="#" />
                        
                     </div>
                  </div>
                  <div class="login_form">
                     <form action="/sifre_unutmak"  method="POST">
                        <fieldset>
                           <h1><b>Şifremi Unuttum</b></h1>
                           <br>
                          
                           <div class="field">
                             
                              
                              <label class="label_field">E-Mail</label>
                              <input type="email" name="email" placeholder="" required/>
                           </div>
                           <div class="field">
                              <label class="label_field">Yeni Şifre</label>
                              <input type="password" name="new_password" placeholder="" required />
                           </div>
                           <div class="field">
                            <label class="label_field">Yeni Şifre Tekrar</label>
                            <input type="password" name="confirm_password" placeholder="" required />
                         </div>
                         <div class="field margin_0" >
                            <button type="submit" class="main_bt" style="margin-left: 5%"></a>Kaydet</button>
                            <a href="{{ url_for('index') }}" class="main_bt" style="margin-left: 5%">Vazgeç</a>
                         </div>
                       
                   
                  </div>
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Bu platform Emaar Türkiye için geliştirilmiştir.<br><br>
                           <a href="https://www.facebook.com/EmaarTurkey/?locale=tr_TR"><i class="fa fa-facebook"></i></a>
				               <a href="https://twitter.com/EmaarTurkey"><i class="fa fa-twitter"></i></a>
				               <a href="https://www.instagram.com/emaarturkey/"><i class="fa fa-instagram"></i></a>
				               <a href="https://www.youtube.com/user/EmaarTurkey"><i class="fa fa-youtube"></i></a>
                           
                           
                        </p>
                     </div>
                  
               </div>
             
            </div>
            
         </div>
      </div>

         <!-- jQuery -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <!-- wow animation -->
      <script src="{{ url_for('static', filename='js/animate.js') }}"></script>
      <!-- select country -->
      <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
      <!-- nice scrollbar -->
      <script src="{{ url_for('static', filename='js/perfect-scrollbar.min.js') }}"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
   </body>
</html>
