<!DOCTYPE html>
<html>
<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>Sözleşmem Emaar</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/logo/banner-img.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/logo/banner-img.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/logo/banner-img.png') }}">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/styles/core.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/styles/icon-font.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/plugins/jquery-steps/jquery.steps.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/styles/style.css') }}">


	
</head>
<body>
	

	<div class="header">
		
		<div class="header-left">
			
			<div class="menu-icon dw dw-menu">
				
			</div>
			<!--<div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>-->
			<div class="header-search">
				<h5>Sözleşme Takip </h5>
				
			</div>
		</div>
		
		
			<div class="user-info-dropdown">
				<div class="dropdown">
					<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						<span class="user-icon">
							<img src="{{ url_for('static', filename='images/logo/banner-img.png') }}" alt="">
						</span>
						<span class="user-name">Merhaba {{ session['username'] }}!</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
						
						<a class="dropdown-item" href="{{ url_for('index') }}"><i class="dw dw-logout"></i> Çıkış Yap</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	
	

	<div class="left-side-bar">
		<div class="brand-logo">
			<a href=""> 
				<img src="{{ url_for('static', filename='images/logo/emaarlogo.JPG') }}" alt="" class="dark-logo">
				<img src="{{ url_for('static', filename='images/logo/emaarlogo.JPG') }}" alt="" class="light-logo">
			</a>
			<div class="close-sidebar" data-toggle="left-sidebar-close">
				<i class="ion-close-round"></i>
			</div>
		</div>
		<div class="menu-block customscroll">
			<div class="sidebar-menu">
				<ul id="accordion-menu">
					
					<li class="dropdown">
						
						<a href="sozlesmelerim" class="dropdown-toggle">
							<i class="fa fa-envelope-open-o purple_color">   <span class="mtext">Sözleşme Detayları</span></i>
							
						</a>
						<a href="sozlesme_ekle" class="dropdown-toggle">
							<i class="fa fa-folder-o purple_color">   <span class="mtext">Sözleşme Ekle</span></i>
							
						</a>
						<a href="hesabim.html" class="dropdown-toggle">
							<i class="fa fa-user purple_color">   <span class="mtext">Hesabım</span></i>
							
						</a>
						<!--<ul class="submenu">
							<li></li>
							<li></li>
							
							
						</ul>-->
					</li>
					
					
					
				</ul>
			</div>
		</div>
	</div>
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				

				<div class="pd-20 card-box mb-30">
					<div class="clearfix">
						<h4 class="text-blue h4">Sözleşme Ekle</h4>
						<p class="mb-30"></p>
					</div>
					<div class="wizard-content">
						<form class="tab-wizard wizard-circle wizard" action="{{ url_for('sozlesme_ekle') }}" method="POST" onsubmit="addSozlesme(event)">
							<h5></h5>
							<section>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="firma_adi" >Firma Adı:</label>
											<select name="firma_adi" id="firma_adi" class="custom-select form-control">
												<option value="">Seç</option>
												<option value="ELGG">ELGG</option>
												<option value="Arçelik">Arçelik</option>
												<option value="Beko">Beko</option>
												<option value="Samsung">Samsung</option>
												<option value="Vestel">Vestel</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="telefon">Telefon Numarası :</label>
											<input name="telefon" id="telefon" type="number" class="form-control">
											
										</div>
									</div>
									
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="departman_adi" >Departman Adı :</label>
											<select name="departman_adi" id="departman_adi" class="custom-select form-control">
												<option value="">Seç</option>
												<option value="HR">HR</option>
												<option value="IT">IT</option>
												<option value="Legal">Legal</option>
												<option value="Purchasing">Purchasing</option>
												<option value="Accounting">Accounting</option>
												<option value="Finance">Finance</option>
												<option value="Retail Relations">Retail Relations</option>
												<option value="Facility Management">Facility Management</option>
												<option value="Mall Marketing">Mall Marketing</option>
												<option value="Mall Management">Mall Management</option>
												<option value="Leasing">Leasing</option>
												<option value="RDT">RDT</option>
												<option value="Customer Care">Customer Care</option>
												<option value="LCCM">LCCM</option>
												<option value="Project & Development">Project & Development</option>
												<option value="Sales">Sales</option>
												<option value="Aquarium">Aquarium</option>
												<option value="Skyview">Skyview</option>


											</select>
											
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="departman_email">Departman E-Mail Adresi :</label>
											<input  name="departman_email" id="departman_email" type="email" class="form-control">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="firma_yetkilisi">Yetkili Kişi :</label>
											<input name="firma_yetkilisi" id="firma_yetkilisi" type="text" class="form-control">
											
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="firma_yetkilisi_email" >Yetkili Kişi E-Mail Adresi :</label>
											<input name="firma_yetkilisi_email" id="firma_yetkilisi_email" type="email" class="form-control">
										</div>
									</div>
									
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="baslangic_tarihi" >Sözleşme Başlangıç Tarihi :</label>
											<input name="baslangic_tarihi" id="baslangic_tarihi" type="text" class="form-control date-picker">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="bitis_tarihi" >Sözleşme Bitiş Tarihi :</label>
											<input name="bitis_tarihi" id="bitis_tarihi" type="text" class="form-control date-picker">
										</div>
									</div>
								</div>
							</section>
							<!-- Step 2 -->
							<h5></h5>
							<section>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="sozlesme_basligi">Sözleşme Başlığı :</label>
											<input name="sozlesme_basligi" id="sozlesme_basligi" type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="ilgili_firma_adi">İlgili Firma Adı :</label>
											<input name="ilgili_firma_adi" id="ilgili_firma_adi" type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="ilgili_firma_telefon">İlgili Firma Telefon Numarası:</label>
											<input name="ilgili_firma_telefon" id="ilgili_firma_telefon" type="number" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="ilgili_firma_email">İlgili Firma E-Mail Adresi :</label>
											<input name="ilgili_firma_email" id="ilgili_firma_email" type="email" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="ilgili_firma_yetkilisi">İlgili Firma Yetkili Kişi:</label>
											<input name="ilgili_firma_yetkilisi" id="ilgili_firma_yetkilisi" type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="ilgili_firma_yetkilisi_email">İlgili Firma Yetkili Kişi E-Mail Adresi :</label>
											<input name="ilgili_firma_yetkilisi_email" id="ilgili_firma_yetkilisi_email"  type="email" class="form-control">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label for="sozlesme_icerigi">Sözleşme İçeriği :</label>
											<textarea id="sozlesme_icerigi" name="sozlesme_icerigi" class="form-control"></textarea>
										</div>
									</div>
								</div>
							</section>
							<!-- Step 3 -->
							<h5></h5>
							<section>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="bilgilendirme_amaci">Bilgilendirme Amacı :</label>
											
											<select name= "bilgilendirme_amaci" id="bilgilendirme_amaci" class="form-control">
												<option value="">Seç</option>
												<option value="Hatirlatma">Hatırlatma</option>
											</select>
											
										</div>
										<div class="form-group">
											<label for="bilgilendirme_tipi">Bilgilendirme Tipi :</label>
											
											<select name="bilgilendirme_tipi" id="bilgilendirme_tipi" class="form-control">
												<option value="">Seç</option>
												<option value="Haftalık">Haftalık</option>
												<option value="Aylık">Aylık</option>
												
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="bilgilendirme_tarihi">Bilgilendirme Tarihi :</label>
											<input name="bilgilendirme_tarihi" id="bilgilendirme_tarihi" type="text" class="form-control date-picker" placeholder="Seç">
										</div>
										<div class="form-group">
											<label for="bilgilendirme_saati">Bilgilendirme Saati  :</label>
											<input name="bilgilendirme_saati" id="bilgilendirme_saati" class="form-control time-picker" placeholder="Select time" type="text">
										</div>
									</div>
								</div>
							</section>
							<!-- Step 4 -->
							<h5></h5>
							<section>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="sozlesme_kodu">Sözleşme Kodu :</label>
											<input name="sozlesme_kodu" id="sozlesme_kodu"  type="text" class="form-control">
										</div>
										
										<div class="form-group">
											<label for="imza_yetkilisi">İmza Yetkilisi</label>
											<select name="imza_yetkilisi" id="imza_yetkilisi" class="form-control">
												<option value="">Seç</option>
												<option value="CFO" >CFO</option>
												<option value="Mall GM">Mall GM</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="aciklama">Açıklama</label>
											<textarea name="aciklama" id="aciklama" class="form-control" type="text"></textarea>
										</div>
									</div>
								</div>
							</section>
						</form>
					</div>
				</div>
				
				<script>
					function addSozlesme(event) {
						event.preventDefault(); // Formun otomatik gönderimini engelle
						// Formdaki gerekli alanlardan verileri al
						var sozlesme_basligi = document.getElementById("sozlesme_basligi").value;
						var sozlesme_icerigi = document.getElementById("sozlesme_icerigi").value;
						var baslangic_tarihi = document.getElementById("baslangic_tarihi").value;
						var bitis_tarihi = document.getElementById("bitis_tarihi").value;
						var bilgilendirme_amaci = document.getElementById("bilgilendirme_amaci").value;
						var bilgilendirme_tipi = document.getElementById("bilgilendirme_tipi").value;
						var bilgilendirme_tarihi = document.getElementById("bilgilendirme_tarihi").value;
						var bilgilendirme_saati = document.getElementById("bilgilendirme_saati").value;
						var sozlesme_kodu = document.getElementById("sozlesme_kodu").value;
						var imza_yetkilisi = document.getElementById("imza_yetkilisi").value;
						var aciklama = document.getElementById("aciklama").value;
						var firma_adi = document.getElementById("firma_adi").value;
						var telefon = document.getElementById("telefon").value;
						var firma_yetkilisi = document.getElementById("firma_yetkilisi").value;
						var firma_yetkilisi_email = document.getElementById("firma_yetkilisi_email").value;
						var ilgili_firma_adi = document.getElementById("ilgili_firma_adi").value;
						var ilgili_firma_telefon = document.getElementById("ilgili_firma_telefon").value;
						var ilgili_firma_email = document.getElementById("ilgili_firma_email").value;
						var ilgili_firma_yetkilisi = document.getElementById("ilgili_firma_yetkilisi").value;
						var ilgili_firma_yetkilisi_email = document.getElementById("ilgili_firma_yetkilisi_email").value;
						var departman_adi = document.getElementById("departman_adi").value;
						var departman_email = document.getElementById("departman_email").value;
				
						// Sunucuya POST isteği yap
						fetch("/add-sozlesme", {
							method: "POST",
							headers: {
								"Content-Type": "application/json",
							},
							body: JSON.stringify({
								sozlesme_basligi:sozlesme_basligi,
								sozlesme_icerigi:sozlesme_icerigi,
								baslangic_tarihi:baslangic_tarihi,
								bitis_tarihi:bitis_tarihi,
								bilgilendirme_amaci:bilgilendirme_amaci,
								bilgilendirme_tipi:bilgilendirme_tipi,
								bilgilendirme_tarihi:bilgilendirme_tarihi,
								bilgilendirme_saati:bilgilendirme_saati,
								sozlesme_kodu:sozlesme_kodu,
								imza_yetkilisi:imza_yetkilisi,
								aciklama:aciklama,
								firma_adi:firma_adi,
								telefon:telefon,
								firma_yetkilisi:firma_yetkilisi,
								firma_yetkilisi_email:firma_yetkilisi_email,
								ilgili_firma_adi:ilgili_firma_adi,
								ilgili_firma_telefon:ilgili_firma_telefon,
								ilgili_firma_email:ilgili_firma_email,
								ilgili_firma_yetkilisi:ilgili_firma_yetkilisi,
								ilgili_firma_yetkilisi_email:ilgili_firma_yetkilisi_email,
								departman_adi:departman_adi,
								departman_email:departman_email
								
							}),
						})
						.then((response) => response.json())
                        .then((data) => {
                            console.log(data);
                        })
                        .catch((error) => {
                            console.error("Hata:", error);
                        });
                    
					}
				</script>
				

				

				<!-- success Popup html Start -->
				<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-body text-center font-18">
								<h3 class="mb-20">Sözleşme Eklendi!</h3>
								<div class="mb-30 text-center"></div>
								Sözleşmeye ait detaylar başarılı bir şekilde eklenmiştir.
							</div>
							<div class="modal-footer justify-content-center">
								<a href="sozlesme_ekle"
									 type="submit" class="btn btn-primary">Tamamlandı!
								</a>
							</div>
							
						</div>
					</div>
				</div>
				<!-- success Popup html End -->
			</div>
			<div class="footer-wrap pd-20 mb-20 card-box">
				Bu platform Emaar Türkiye için geliştirilmiştir. </a> <br>
				<a href="https://www.facebook.com/EmaarTurkey/?locale=tr_TR"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/EmaarTurkey"><i class="fa fa-twitter"></i></a>
				<a href="https://www.instagram.com/emaarturkey/"><i class="fa fa-instagram"></i></a>
				<a href="https://www.youtube.com/user/EmaarTurkey"><i class="fa fa-youtube"></i></a>
			</div>
		</div>
	</div>
	<!-- js -->
	
	<script  src="{{ url_for('static', filename='vendors/scripts/core.js') }}"></script>
	<script  src="{{ url_for('static', filename='vendors/scripts/script.min.js') }}"></script>
	<script  src="{{ url_for('static', filename='vendors/scripts/process.js') }}"></script>
	<script  src="{{ url_for('static', filename='vendors/scripts/layout-settings.js') }}"></script>
	<script src="{{ url_for('static', filename='src/plugins/jquery-steps/jquery.steps.js') }}"></script>
	<script src="{{ url_for('static', filename='vendors/scripts/steps-setting.js') }}"></script>
</body>
</html>
