<!DOCTYPE html>
<html>
<head>
	<!-- Basic Page Info -->
	<meta charset="utf-8">
	<title>Sözleşmem Emaar</title>

	<!-- Site favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/logo/banner-img.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/logo/banner-img.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/logo/banner-img.png') }}">

	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Google Font -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/styles/core.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/styles/icon-font.min.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='src/plugins/jquery-steps/jquery.steps.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendors/styles/style.css') }}">


	
</head>
<body>
	

	<div class="header">
		
		<div class="header-left">
			
			<div class="menu-icon dw dw-menu">
				
			</div>
			<!--<div class="search-toggle-icon dw dw-search2" data-toggle="header_search"></div>-->
			<div class="header-search">
				<h5>Sözleşme Takip </h5>
				
			</div>
		</div>
		
			<div class="user-info-dropdown">
				<div class="dropdown">
					<a class="dropdown-toggle" href="#" role="button" data-toggle="dropdown">
						<span class="user-icon">
							<img src="{{ url_for('static', filename='images/logo/banner-img.png') }}" alt="">
						</span>
						<span class="user-name">Emaar Türkiye</span>
					</a>
					<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
						
						<a class="dropdown-item" href="{{ url_for('index') }}"><i class="dw dw-logout"></i> Çıkış Yap</a>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	
	

	<div class="left-side-bar">
		<div class="brand-logo">
			<a href=""> 
				<img src="{{ url_for('static', filename='images/logo/emaarlogo.JPG') }}" alt="" class="dark-logo">
				<img src="{{ url_for('static', filename='images/logo/emaarlogo.JPG') }}" alt="" class="light-logo">
			</a>
			<div class="close-sidebar" data-toggle="left-sidebar-close">
				<i class="ion-close-round"></i>
			</div>
		</div>
		<div class="menu-block customscroll">
			<div class="sidebar-menu">
				<ul id="accordion-menu">
					
					<li class="dropdown">
						
						<a href="javascript:;" class="dropdown-toggle">
							<i class="fa fa-envelope-open-o purple_color">   <span class="mtext">Sözleşme Detayları</span></i>
							
						</a>
						<!--<ul class="submenu">
							<li></li>
							<li></li>
							
							
						</ul>-->
					</li>
					
					
					
				</ul>
			</div>
		</div>
	</div>
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				

				<div class="pd-20 card-box mb-30">
					<div class="clearfix">
						<h4 class="text-blue h4">Sözleşme Ekle</h4>
						<p class="mb-30"></p>
					</div>
					<div class="wizard-content">
						<form class="tab-wizard wizard-circle wizard" action="{{ url_for('sozlesme_ekle') }}" method="POST">
							<h5></h5>
							<section>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label >Firma Adı:</label>
											<select class="custom-select form-control">
												<option value="">Seç</option>
												<option value="">ELGG</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Telefon Numarası :</label>
											<input type="text" class="form-control">
											
										</div>
									</div>
									
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label >Departman Adı :</label>
											<select class="custom-select form-control">
												<option value="">Seç</option>
												<option value="">HR</option>
												<option value="">IT</option>
												<option value="">Legal</option>
												<option value="">Purchasing</option>
												<option value="">Accounting</option>
												<option value="">Finance</option>
												<option value="">Retail Relations</option>
												<option value="">Facility Management</option>
												<option value="">Mall Marketing</option>
												<option value="">Mall Management</option>
												<option value="">Leasing</option>
												<option value="">RDT</option>
												<option value="">Customer Care</option>
												<option value="">LCCM</option>
												<option value="">Project & Development</option>
												<option value="">Sales</option>
												<option value="">Aquarium</option>
												<option value="">Skyview</option>


											</select>
											
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Departman E-Mail Adresi :</label>
											<input type="email" class="form-control">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Yetkili Kişi :</label>
											<input type="text" class="form-control">
											
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Yetkili Kişi E-Mail Adresi :</label>
											<input type="text" class="form-control">
										</div>
									</div>
									
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label >Sözleşme Başlangıç Tarihi :</label>
											<input type="text" class="form-control date-picker" placeholder="Seç">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label >Sözleşme Bitiş Tarihi :</label>
											<input type="text" class="form-control date-picker" placeholder="Seç">
										</div>
									</div>
								</div>
							</section>
							<!-- Step 2 -->
							<h5></h5>
							<section>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Sözleşme Başlığı :</label>
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>İlgili Firma Adı :</label>
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>İlgili Firma Telefon Numarası:</label>
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>İlgili Firma E-Mail Adresi :</label>
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>İlgili Firma Yetkili Kişi:</label>
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>İlgili Firma Yetkili Kişi E-Mail Adresi :</label>
											<input type="text" class="form-control">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<label>Sözleşme İçeriği :</label>
											<textarea class="form-control"></textarea>
										</div>
									</div>
								</div>
							</section>
							<!-- Step 3 -->
							<h5></h5>
							<section>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Bilgilendirme Amacı :</label>
											
											<select class="form-control">
												<option value="">Seç</option>
												<option>Hatırlatma</option>
												
												
											</select>
											
										</div>
										<div class="form-group">
											<label>Bilgilendirme Tipi :</label>
											
											<select class="form-control">
												<option value="">Seç</option>
												<option>Haftalık</option>
												<option>Aylık</option>
												
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Bilgilendirme Tarihi :</label>
											<input type="text" class="form-control date-picker" placeholder="Seç">
										</div>
										<div class="form-group">
											<label>Bilgilendirme Saati  :</label>
											<input class="form-control time-picker" placeholder="Select time" type="text">
										</div>
									</div>
								</div>
							</section>
							<!-- Step 4 -->
							<h5></h5>
							<section>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label>Sözleşme Kodu :</label>
											<input type="text" class="form-control">
										</div>
										
										<div class="form-group">
											<label>İmza Yetkilisi</label>
											<select class="form-control">
												<option>Seç</option>
												<option>CFO</option>
												<option>Mall GM</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label>Açıklama</label>
											<textarea class="form-control"></textarea>
										</div>
									</div>
								</div>
							</section>
						</form>
					</div>
				</div>

				

				<!-- success Popup html Start -->
				<div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
					<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
							<div class="modal-body text-center font-18">
								<h3 class="mb-20">Sözleşme Eklendi!</h3>
								<div class="mb-30 text-center"><img src="{{ url_for('static', filename='vendors/images/success.png') }}"></div>
								Sözleşmeye ait detaylar başarılı bir şekilde eklenmiştir.
							</div>
							<div class="modal-footer justify-content-center">
								<button type="button" class="btn btn-primary" data-dismiss="modal">Tamamlandı!</button>
							</div>
						</div>
					</div>
				</div>
				<!-- success Popup html End -->
			</div>
			<div class="footer-wrap pd-20 mb-20 card-box">
				Bu platform Emaar Türkiye için geliştirilmiştir. </a> <br>
				<a href="https://www.facebook.com/EmaarTurkey/?locale=tr_TR"><i class="fa fa-facebook"></i></a>
				<a href="https://twitter.com/EmaarTurkey"><i class="fa fa-twitter"></i></a>
				<a href="https://www.instagram.com/emaarturkey/"><i class="fa fa-instagram"></i></a>
				<a href="https://www.youtube.com/user/EmaarTurkey"><i class="fa fa-youtube"></i></a>
			</div>
		</div>
	</div>
	<!-- js -->
	<script  src="{{ url_for('static', filename='vendors/scripts/core.js') }}"></script>
	<script  src="{{ url_for('static', filename='vendors/scripts/script.min.js') }}"></script>
	<script  src="{{ url_for('static', filename='vendors/scripts/process.js') }}"></script>
	<script  src="{{ url_for('static', filename='vendors/scripts/layout-settings.js') }}"></script>
	<script src="{{ url_for('static', filename='src/plugins/jquery-steps/jquery.steps.js') }}"></script>
	<script src="{{ url_for('static', filename='vendors/scripts/steps-setting.js') }}"></script>
</body>
</html>