<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Sözleşmem Emaar</title>
      <!-- site icon -->
      
      <link rel="apple-touch-icon" sizes="180x180"  href="{{ url_for('static', filename='images/logo/banner-img.png') }}">
	   <link rel="icon" type="image/png" sizes="32x32"  href="{{ url_for('static', filename='images/logo/banner-img.png') }}">
	   <link rel="icon" type="image/png" sizes="16x16"  href="{{ url_for('static', filename='images/logo/banner-img.png') }}">
      <!-- bootstrap css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/responsive.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/color_2.css') }}">
      <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

      <!-- select bootstrap -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-select.css') }}">
      <!-- scrollbar css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/perfect-scrollbar.css') }}">
      <!-- custom css -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">
      <!-- calendar file css -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body class="inner_page login">
      <div class="full_container">
         <div class="container">
            <div class="center verticle_center full_height">
               <div class="login_section">
                  <div class="logo_login">
                     <div class="center" >
                        
                        <img width="30%" src="{{ url_for('static', filename='images/logo/banner-img.png') }}" alt="#" />
                        
                     </div>
                  </div>
                  <div class="login_form">
                     <form action="{{ url_for('uye_ol') }} " method="GET" onsubmit="addKullanici(event)">
                        <fieldset>
                           <h1><b>Sözleşme Takip</b></h1>
				<br>
                           <p>Üye olmak için lütfen bilgilerinizi giriniz.</p>
                           <br>
                           <div class="field" >
                            <label for="isim" class="label_field">İsim</label>
                            <input type="text" name="isim" id="isim" placeholder="" required />
                         </div>
                         
                         <div class="field">
                          <label for="soyisim" class="label_field">Soyisim</label>
                          <input type="text" name="soyisim" id="soyisim" placeholder="" required/>
                       </div>
                           <div class="field">
                              <label for="email" class="label_field">E-Mail Adresi</label>
                              <input type="email" name="email" id="email"  placeholder="" required/>
                           </div>
                           <div class="field">
                              <label  for="password" class="label_field">Şifre</label>
                              <input type="password" name="password" id="password"  placeholder="" required />
                           </div>
                           <div class="field">
                            <label  for="password_again" class="label_field">Şifre Tekrar</label> 
                            <input type="password" name="password_again" id="password_again"  placeholder="" required />
                         </div>
                           
                           <div class="field margin_0" style ="flex-direction:row" >
                            <button type="submit" class="main_bt" onclick="addKullanici(event)">Üye Ol</button>
				   <br>
                           </div>
                        </fieldset>
                     </form>
                     <a href="{{ url_for('index') }}" style ="margin-top:5%" > Hesabın var mı?    Giriş Yap</a>
                  
                  </div>
                  <script>
        
                    function addKullanici(event) {
                        event.preventDefault(); // Formun otomatik gönderimini engelle
                        var isim = document.getElementById("isim").value;
                        var soyisim = document.getElementById("soyisim").value;
                        var sifre = document.getElementById("password").value;
                        var email = document.getElementById("email").value;
                    
                        fetch("/add-endpoint", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({
                                isim: isim,
                                soyisim: soyisim,
                                sifre: sifre,
                                email: email,
                            }),
                        })
                        .then((response) => response.json())
                        .then((data) => {
                            console.log(data);
                            $('#success-modal').modal('show');
                            // Belirli bir süre sonra giriş sayfasına yönlendir
                            setTimeout(function() {
                                window.location.href = "{{ url_for('index') }}";
                            }, 3000); // 3 saniye sonra yönlendirme yapılacak
                        })
                        .catch((error) => {
                            console.error("Hata:", error);
                        });
                    }
                </script>
                  <div class="container-fluid">
                     <div class="footer">
                        <p>Bu platform Emaar Türkiye için geliştirilmiştir.<br><br>
                           <a href="https://www.facebook.com/EmaarTurkey/?locale=tr_TR"><i class="fa fa-facebook"></i></a>
				               <a href="https://twitter.com/EmaarTurkey"><i class="fa fa-twitter"></i></a>
				               <a href="https://www.instagram.com/emaarturkey/"><i class="fa fa-instagram"></i></a>
				               <a href="https://www.youtube.com/user/EmaarTurkey"><i class="fa fa-youtube"></i></a>
                           
                           
                        </p>
                     </div>
                  
               </div>
             
            </div>
            
         </div>
      </div>
      <div class="modal fade" id="success-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body text-center font-18">
                    <h3 class="mb-20">Üyelik Başarılı!</h3>
                    Giriş Sayfasına Yönlendiriliyorsunuz...
                </div>
            </div>
        </div>
    </div>
      <!-- jQuery -->
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <!-- wow animation -->
      <script src="{{ url_for('static', filename='js/animate.js') }}"></script>
      <!-- select country -->
      <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
      <!-- nice scrollbar -->
      <script src="{{ url_for('static', filename='js/perfect-scrollbar.min.js') }}"></script>
      <script>
         var ps = new PerfectScrollbar('#sidebar');
      </script>
      <!-- custom js -->
      <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
      <script  src="{{ url_for('static', filename='vendors/scripts/core.js') }}"></script>
	<script  src="{{ url_for('static', filename='vendors/scripts/script.min.js') }}"></script>
	<script  src="{{ url_for('static', filename='vendors/scripts/process.js') }}"></script>
	<script  src="{{ url_for('static', filename='vendors/scripts/layout-settings.js') }}"></script>
	<script src="{{ url_for('static', filename='src/plugins/jquery-steps/jquery.steps.js') }}"></script>
	<script src="{{ url_for('static', filename='vendors/scripts/steps-setting.js') }}"></script>
    


   </body>
</html>
